/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-Reqular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-SemiBold.woff2');
    font-weight: 6000;
}

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* calcs */
    --global-baseline: 8px;
    --global-whitespace: calc(var(--global-baseline) * 3);
    --global-whitespace-xl: calc(var(--global-whitespace) * 2);
    --global-whitespace-md: calc(var(--global-baseline) * 2);
    --global-whitespace-sm: var(--global-baseline);
    --global-whitespace-xs: calc(var(--global-baseline) * 0.5);

    --global-font-size: calc(var(--global-baseline) * 2);
    --global-line-height: calc(var(--global-baseline) * 2);


    --global-border-width: 1px;
    --global-padding-top-btm: calc(var(--global-border-width) + 10px);


    /* Colors */
    --global-color-black: #20223A;
    --global-color-white: #FFFFFF;
    --global-color-primary: #3385FF;
    --global-color-primary-dark: #2E77E6;
    --global-color-primary-light: #4F95FF;
    --global-color-primary-x-dark: #1B4186;
    --global-color-primary-alpha-dark: #3385FFBF;
    --global-color-primary-alpha-light: #3385FF40;

    --global-color-neutral-light: #A0A1AD;
    --global-color-neutral-x-light: #B5B6C0;
    --global-color-neutral-xx-light: #CACCD4;
    --global-color-neutral-xxx-light: #E2E3E7;
    --global-color-neutral-xxxx-light: #F5F6FA;

    --global-color-neutral: #8B8C9A;

    --global-color-neutral-dark: #757787;
    --global-color-neutral-x-dark: #606274;
    --global-color-neutral-xx-dark: #4B4C60;
    --global-color-neutral-xxx-dark: #35374D;
    --global-color-neutral-xxxx-dark: #2A2C43;
    
    --global-color-danger: #FF3333;
    --global-color-danger-alpha: #FF3333;


    /* Element colors */
    --global-color-text: var(--global-color-black);
    --global-color-label: var(--global-color-neutral-xx-dark);
    --global-color-title: var(--global-color-black);
    --global-color-bg: var(--global-color-neutral-xxxx-light);
    --global-color-bg-lighter: var(--global-color-white);
    --global-color-link: var(--global-color-primary);
    
    --global-color-button-text: var(--global-color-white);
    --global-color-button-bg: var(--global-color-primary);
    --global-color-button-border: var(--global-color-primary-dark);
    --global-color-button-bg-hover: var(--global-color-primary-light);
    --global-color-button-bg-pressed: var(--global-color-primary-dark);
    --global-color-button-shadow: var(--global-color-primary-alpha-light);
    --global-color-button-bg-active: var(--global-color-primary);

    --global-color-input-bg: var(--global-color-white);
    --global-color-input-text: var(--global-color-neutral-x-light);
    --global-color-input-border: var(--global-color-neutral-xxx-light);
    --global-color-input-border-focused: var(--global-color-primary-alpha-dark);

    --global-border-input-focused: 3px solid var(--global-color-input-border-focused);
    --global-placeholder-color: var(--global-color-neutral-x-light);

    --global-checkbox-border-color: var(--global-color-neutral-xxx-light);
    --global-checkbox-border-color-hovered: var(--global-color-neutral-xx-light);
    --global-checkbox-border-color-focus: var(--global-color-primary);
    --global-checkbox-check-color: var(--global-color-primary);
    --global-checkbox-check-bg: var(--global-color-white);

    --global-color-seperator: var(--global-color-neutral-xxxx-light);
}
/* CSS variables here */

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: var(--global-font-size);
    line-height: 1.5;
    font-family: 'Inter', arial, sans-serif;
    color: var(--global-text-color);
    background-color: var(--global-color-bg);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--global-color-bg-selection);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--global-color-bg-selection);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 36px;
    line-height: var(--global-whitespace-xl);
    margin: 0 0 var(--global-whitespace);
}

h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 0 var(--global-whitespace);
}

h3 {
    font-size: 26px;
    line-height: 32px;
    margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 var(--global-whitespace);
}

ul,
ol {
    padding-left: var(--global-whitespace);
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 var(--global-whitespace);
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: 12px;
    line-height: var(--global-line-height);
    margin-top: var(--global-whitespace-sm);
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 var(--global-whitespace);
}

a {
    color: var(--global-color-link);
    transition: all .1s ease-in-out;
    text-decoration: none;
}

a:visited,
a:active {
    color: var(--global-color-link);
    text-decoration: underline;
}

a:hover,
a:focus {
    color: var(--global-color-link);
    text-decoration: underline;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: var(--global-whitespace) var(--global-whitespace) 0;
}

.o-row--login {
    /* stuff here to align the card */

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* size modifiers */

.o-row--lg {
    padding-top: var(--global-whitespace-xl);
    padding-bottom: var(--global-whitespace);
}

.o-row--xl {
    padding-top: 72px;
    padding-bottom: var(--global-whitespace-xl);
}

@media (min-width: 768px) {
    .o-row {
        padding-left: var(--global-whitespace-xl);
        padding-right: var(--global-whitespace-xl);
    }
}

@media (min-width: 992px) {
    .o-row--xl {
        padding-top: 96px;
        padding-bottom: 72px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: section
    ---
    Creates vertical whitespace between adjacent sections inside a row
*/

.o-section {
    position: relative;
}

.o-section + .o-section {
    padding-top: var(--global-whitespace);
}

@media (min-width: 768px) {
    .o-section--lg + .o-section--lg,
    .o-section--xl + .o-section--xl {
        padding-top: var(--global-whitespace-xl);
    }
}

@media (min-width: 992px) {
    .o-section--xl + .o-section--xl {
        padding-top: 72px;
    }
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.o-layout__item {
    width: 100%;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter > .o-layout__item {
    padding: 0 12px;
}

.o-layout--gutter-sm {
    margin: 0 -6px;
}

.o-layout--gutter-sm > .o-layout__item {
    padding: 0 6px;
}

.o-layout--gutter-lg {
    margin: 0 -24px;
}

.o-layout--gutter-lg > .o-layout__item {
    padding: 0 var(--global-whitespace);
}

.o-layout--gutter-xl {
    margin: 0 -48px;
}

.o-layout--gutter-xl > .o-layout__item {
    padding: 0 var(--global-whitespace-xl);
}

/* reverse horizontal row modifier */

.o-layout--row-reverse {
    flex-direction: row-reverse;
}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {
    justify-content: flex-start;
}

.o-layout--justify-end {
    justify-content: flex-end;
}

.o-layout--justify-center {
    justify-content: center;
}

.o-layout--justify-space-around {
    justify-content: space-around;
}

.o-layout--justify-space-evenly {
    justify-content: space-evenly;
}

.o-layout--justify-space-between {
    justify-content: space-between;
}

/* Vertical alignment modifiers */

.o-layout--align-start {
    align-items: flex-start;
}

.o-layout--align-end {
    align-items: flex-end;
}

.o-layout--align-center {
    align-items: center;
}

.o-layout--align-baseline {
    align-items: baseline;
}

/* Vertical alignment modifiers that only work if there is one than one flex item */

.o-layout--align-content-start {
    align-content: start;
}

.o-layout--align-content-end {
    align-content: end;
}

.o-layout--align-content-center {
    align-content: center;
}

.o-layout--align-content-space-around {
    align-content: space-around;
}

.o-layout--align-content-space-between {
    align-content: space-between;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    outline: none;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
    height: var(--global-whitespace);
    display: flex;
    justify-content: center;
}

.c-logo__symbol {
    height: 100%;
    display: block;
}

.c-logo__symbol .c-logo__path--1 {
    fill: var(--global-color-text);
}

.c-logo__symbol .c-logo__path--2 {
    fill: var(--global-color-link);
}

.c-logo__symbol .c-logo__path--3 {
    fill: #1B4186;
}

/*
    Component: Card
    ---
    Card with box shadow
*/

.c-card {
    background-color: var(--global-color-bg-lighter);
    border-radius: 3px;
    box-shadow: 0 2px var(--global-whitespace-xs) rgba(0, 0, 0, 0.07);
}

.c-card__body {
    padding: var(--global-whitespace-xl) var(--global-whitespace-xl) var(--global-whitespace);
}

.c-card__title {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: var(--global-color-title);

    padding: var(--global-whitespace-xl) 0 0;
    margin-bottom: 0;
}

.c-card__footer {
    padding: var(--global-whitespace) var(--global-whitespace-xl);
    text-align: center;
    border-top: 1px solid var(--global-color-seperator);
}

.c-card__footer p {
    margin: 0;
}

/*
    Component: Forms
    ---
    Everything form related here
*/

/*
    Component: Input
    ---
    Class to put on all input="text" like form inputs
*/

.c-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;

    border: var(--global-border-width) solid var(--global-color-input-border);
    border-radius: 3px;
    
    font-family: inherit;
    font-weight: 400;
    font-size: var(--global-font-size);
    line-height: 19px;

    padding: var(--global-padding-top-btm);
    outline: none;

    color: var(--global-color-neutral-x-light);
    background-color: var(--global-color-input-bg);
}

.c-input:focus {
    border-color: var(--global-color-primary-light);
    box-shadow: 0 0 0 3px var(--global-color-primary-alpha-light);
}

input[type="checkbox"] {
    visibility: hidden;
}

input[type="checkbox"] + label:before {
    border: 1px solid var(--global-checkbox-border-color);
    background-color: var(--global-checkbox-check-bg);
    
    border-radius: 3px;
    content: "\00a0";
    display: inline-block;
    height: 16px;
    width: 16px;
    margin: 0 .25em 0 0;
    padding: 0;

    font-size: var(--global-font-size);
    line-height: calc(var(--global-font-size) * 0.8);

    vertical-align: top;
}

input[type="checkbox"]:checked + label:before {
    background: var(--global-checkbox-check-bg);
    color: var(--global-checkbox-check-color);
    content: "\2713";
    text-align: center;
}

input[type="checkbox"]:checked + label:after {
    font-weight: bold;
}
  
input[type="checkbox"]:focus + label::before {
    box-shadow: 0 0 0 3px var(--global-color-primary-alpha-light);
    border-color: var(--global-checkbox-border-color-focus);
}

input[type="checkbox"]:hover + label::before {
    border-color: var(--global-checkbox-border-color-hovered);
}

.c-form-field--row {
    display: flex;
    align-items: center;
}

/* Placeholder colors */
.c-input::placeholder {
    color: var(--global-placeholder-color);
}

.c-input::-webkit-input-placeholder { /* Edge */
    color: var(--global-placeholder-color);
}
  
.c-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--global-placeholder-color);
}

/*
    Component: Label
    ---
    Class to put on all form labels
*/

label {
    display: block;
}

.c-label {
    font-size: 14px;
    line-height: var(--global-line-height);
    margin-bottom: var(--global-whitespace-sm);
    color: var(--global-color-label);
}

.c-form-field--row label {
    margin: 0 0 0 var(--global-whitespace-sm);
}

/* If a input is focused within the form-field class change te color of the label */

.c-form-field:focus-within .c-label {

}

/*
    Component: Button
    ---
    Class to put on form buttons or links
*/

.c-button {
    padding: 12px var(--global-whitespace);
    
    border-radius: 3px;
    border: var(--global-border-width) solid var(--global-color-button-border);

    background-color: var(--global-color-button-bg);
    color: var(--global-color-button-text);

    font-size: var(--global-font-size);
    line-height: 19px;
    font-weight: 600;

    width: 100%;
    outline: none;

    cursor: pointer;
}

.c-button:hover {
    background-color: var(--global-color-button-bg-hover);
}

.c-button:focus {
    border-color: var(--global-color-button-bg-pressed);
    box-shadow: 0 0 0 3px var(--global-color-button-shadow);
    box-shadow: h-offset v-offset blur spread color;
}

.c-button:active {
    background-color: var(--global-color-button-bg-pressed);
}

.c-button--block {

}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral-base {
    color: var(--global-color-neutral-x-light);
}

.u-color-neutral-dark {
    color: Black;
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: var(--global-whitespace-xs) !important;
}

.u-mb-sm {
    margin-bottom: var(--global-whitespace-sm) !important;
}

.u-mb-md {
    margin-bottom: var(--global-whitespace-md) !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: var(--global-whitespace-xl) !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: 14px;
}

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
    width: auto !important;
}

.u-1-of-2 {
    width: 50% !important;
}

.u-1-of-3 {
    width: 33.3333333333% !important;
}

.u-2-of-3 {
    width: 66.6666666667% !important;
}

.u-1-of-4 {
    width: 25% !important;
}

.u-3-of-4 {
    width: 75% !important;
}

.u-1-of-5 {
    width: 20% !important;
}

.u-2-of-5 {
    width: 40% !important;
}

.u-3-of-5 {
    width: 60% !important;
}

.u-4-of-5 {
    width: 80% !important;
}

.u-1-of-6 {
    width: 16.6666666667% !important;
}

.u-5-of-6 {
    width: 83.3333333333% !important;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {
        width: 50% !important;
    }
    .u-1-of-3-bp1 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp1 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp1 {
        width: 25% !important;
    }
    .u-3-of-4-bp1 {
        width: 75% !important;
    }
    .u-1-of-5-bp1 {
        width: 20% !important;
    }
    .u-2-of-5-bp1 {
        width: 40% !important;
    }
    .u-3-of-5-bp1 {
        width: 60% !important;
    }
    .u-4-of-5-bp1 {
        width: 80% !important;
    }
    .u-1-of-6-bp1 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp1 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {
        width: 50% !important;
    }
    .u-1-of-3-bp2 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp2 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp2 {
        width: 25% !important;
    }
    .u-3-of-4-bp2 {
        width: 75% !important;
    }
    .u-1-of-5-bp2 {
        width: 20% !important;
    }
    .u-2-of-5-bp2 {
        width: 40% !important;
    }
    .u-3-of-5-bp2 {
        width: 60% !important;
    }
    .u-4-of-5-bp2 {
        width: 80% !important;
    }
    .u-1-of-6-bp2 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp2 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {
        width: 50% !important;
    }
    .u-1-of-3-bp3 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp3 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp3 {
        width: 25% !important;
    }
    .u-3-of-4-bp3 {
        width: 75% !important;
    }
    .u-1-of-5-bp3 {
        width: 20% !important;
    }
    .u-2-of-5-bp3 {
        width: 40% !important;
    }
    .u-3-of-5-bp3 {
        width: 60% !important;
    }
    .u-4-of-5-bp3 {
        width: 80% !important;
    }
    .u-1-of-6-bp3 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp3 {
        width: 83.3333333333% !important;
    }
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {
        width: 50% !important;
    }
    .u-1-of-3-bp4 {
        width: 33.3333333333% !important;
    }
    .u-2-of-3-bp4 {
        width: 66.6666666667% !important;
    }
    .u-1-of-4-bp4 {
        width: 25% !important;
    }
    .u-3-of-4-bp4 {
        width: 75% !important;
    }
    .u-1-of-5-bp4 {
        width: 20% !important;
    }
    .u-2-of-5-bp4 {
        width: 40% !important;
    }
    .u-3-of-5-bp4 {
        width: 60% !important;
    }
    .u-4-of-5-bp4 {
        width: 80% !important;
    }
    .u-1-of-6-bp4 {
        width: 16.6666666667% !important;
    }
    .u-5-of-6-bp4 {
        width: 83.3333333333% !important;
    }
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: var(--global-border-width) solid var(--global-color-neutral-ligh);
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --global-color-text: var(--global-color-neutral-xxxx-light);
        --global-color-bg: var(--global-color-neutral-xxxx-dark);
        --global-color-bg-lighter: var(--global-color-neutral-xxx-dark);
        --global-color-label: var(--global-color-neutral-xx-light);
        --global-color-title: var(--global-color-white);

        --global-color-input-bg: var(--global-color-black);
        --global-color-input-text: var(--global-color-neutral-x-dark);
        --global-color-input-border: var(--global-color-black);

        --global-placeholder-color: var(--global-color-neutral-dark);

        --global-checkbox-border-color: var(--global-color-black);
        --global-checkbox-border-color-hovered: var(--global-color-neutral-xx-dark);
        --global-checkbox-border-color-focus: var(--global-color-neutral-xx-dark);
        --global-checkbox-check-color: var(--global-color-neutral-xxx-light);
        --global-checkbox-check-bg: var(--global-color-black);

        --global-color-seperator: var(--global-color-black);
    }

    .c-logo__symbol path {
        fill: var(--global-color-white) !important;
    }
}